# Données
data/raw/
data/processed/
*.csv
*.zip

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

notebooks/catboost_info/
notebooks/test.ipynb
models/dice_results.pkl
models/random_forest_binary.pkl